extends layout

block content
  div(ng-controller="LinksController")
    h1(class="test") test
    h1=title
    table
      tbody
        tr(ng-repeat="link in links")
          td: a(href="{{ link.uri }}") {{ link.description }}
          td {{ link.time }}

  div(ng-controller="VideoController")
    iframe(width="1024", height="600", frameborder="0", allowfullscreen, src="{{ video.uri | trusted}}")

  div(ng-controller="NotesController")
    div(id='hidden-note') {{ note }}
    populate-note
      textarea(data-uk-htmleditor="{markdown:true}")
