extends layout

block content
  - if (!everyauth.loggedIn)
    #google-login
      a(href='/auth/google', style='border: 0px')
        img(style='border: 0px', src='https://www.google.com/favicon.ico')
  - else
    h1 you're logged in
