input
  padding: 5px
  width: 90%

.body-column
  width: 100%
  padding: 100px 0px 0px 0px

.broadcasts-page
  margin: 15px 0px 0px 0px

.broadcasts-table
  width: 800px

.layout-logo
  height: 200px
  width: auto

.links-header
  display: inline
  margin: 15px 15px 15px 5px

.links-table
  width: 500px

.main-logo
  height: 500px
  width: auto

.new-broadcast-form
  display: none

.new-link-form
  display: none

.notes-panel
  width: 90%
  height: 150px

.uk-button
  margin: 2px

#broadcast_id
  display: none
